
#left {

	width: 45%;
	float: left;
	padding: 100px 0 0 0;

}

#right {

	position: relative;
	width: 45%;
	float: right;
	padding: 60px 0 0 0;
	height: 100%;
	text-align: right;
	
}


#contact form {

	width: 100%;
    /* margin: 0 auto; */
    /* width: 400px; */
    padding: 16px;
	
}

#contact form div + div {

    margin-top: 16px;
	
}

#contact label {

    display: inline-block;
    width: 90px;
    text-align: right;
	
}

#contact input, #contact textarea {

    font: 1em sans-serif;
    width: 73.34963325183374%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
	
}

#contact input:focus, #contact textarea:focus {

    border-color: #000;
	
}

#contact textarea {

    vertical-align: top;
    height: 200px;
    resize: vertical;
	
}

.button {

    padding-left: 21.95121951219512%;
	
}
#contact button {

    margin-left: 8px;
	
}

#right p {

	padding: 10px 0 15px 20px;
	font-size: 12px;
	font-weight: bold;
	
}

#right iframe {

	min-height: 450px;
	height: 100%;
	width: 100%;

}
