@media only screen and (min-width: 737px){

* {

    margin: 0;
    padding: 0;

}

html {

    background-image: url(../images/backgrounds/footer_lodyas.png);
    height: 100%;

}

body {

    height: 100%;
    margin: 20px 0 20px 0;
    min-width: 805px;
    width: auto !important;
    width: 805px;

}

#pageWrapper {

    max-width: 1000px;
    width: 80%;
    margin: auto;

}

/* HEADER CSS */

#header {
    /* background-color: #666666; */
    color: white;
    width: 100%;
}

#login {

    position: absolute;
    /* background-color: #333333; */
    text-align: right;
    top: 0;
    left: 0;
    width: 98%;
    padding: 10px;
    color: #C1C1C1;
    font-size: 12px;
    font-weight: bold;
    border-top-right-radius: 0;

}

#loginPop {

    display: none;

}

#login:hover {

    color: darkorange;

}

#login:hover #loginPop {

    display: block;
    text-align: center;
    /* background-color: #333333; */
    height: 20px;
    width: 400px;
    position: absolute;
    top: 0;
    right: 75px;
    padding: 8px 0 0 0;

}

#loginButton {

    padding: 2px;
    border: black solid 2px;
    background-color: darkorange;
    font-weight: bold;

}


#masthead img {

    width: 20%;
    margin: 0;
    padding: 5px 0 0 20px;

}

.cart {

    position: fixed;
    top: 35px;
    right: 5px;
    height: 20px;
    width: 6%;
    margin: 2px 5px 0 0;
    padding: 0;
    border-radius: 5px;

}

#cart a {

    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0 10px 0;

}

#cart img {

    padding: 2px;

}


#search {

    float: right;
    margin: 4% 0 0 0;
}

#submit {

    padding: 2px;
    border: black solid 2px;
    background-color: darkorange;
    font-weight: bold;

}


/* NAVBAR CSS */

#navBar {

    background-color: #666666;
    width: 100%;
    margin: auto;
    height: 8%;
    color: white;
    text-align: center;

}

#navBar ul {

    margin: 5px 0 0 0;

}

#navBar ul li {

    display: inline-block;
    /* width: 170px; */
    text-align: center;
    /* padding: 10px 0 10px 0; */

}

#navBar ul li a {

    display: inline-block;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    color: #C1C1C1;
    text-decoration: none;

}

#navBar ul li a:hover {

    background-color: #333333;
    border-bottom: solid 4px darkorange;

}

#active a {

    background-color: #333333;
    border-bottom: solid 4px darkorange;

}



/* BODY CSS */

#body {

    position: absolute;
    background-color: white;
    position: relative;
    width: 100%;
    margin: 15px 0 15px 0;


}

#body img {

    overflow: hidden;
    width: 100%;
    /* height: 650px; */

}

#homeImage {

    overflow: hidden;
    width: 100%;
    margin: 15px 0 15px 0;

}

#bodyContent {

    width: 90%;
    margin: 0 auto;
    min-height: 600px;
    overflow: hidden;

}

/* FOOTER CSS */

#footer {

    max-width: 1000px;
    position: absolute;
    background-color: #666666;
    color: #C1C1C1;
    width: 80%;
    height: 40px;
    min-width: 644px;

}

#footer ul li {

  display: inline;
  padding: 5px;

}

#footer ul li a {

    display: inline-block;
    padding: 13px 10px 0 10px;
    color: #C1C1C1;
    text-decoration: none;
    font-size: 12px;

}

#footer ul li a:hover {

    color: darkorange;

}

#footer p {

  font-size: 10px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: #C1C1C1;

}


#validation{

  position: absolute;
  bottom: 3px;
  right: 10px;

}

#validation a {

  padding: 0;

}


/*SINGLE PRODECT PAGE CSS*/

#sidebar {

    position: absolute;
    width: 25%;
    padding: 45px 0 0 0;

}

#details {

    float: right;
    width: 75%;
    min-height: 900px;
    padding: 0 0 25px 0;

}

#details p {

    padding: 0 0 25px 0;

}

#details iframe {

    float: right;

}

#productDetails img {

    float: left;
    width: 100%;
    padding: 0 0 0 0;

}

#productDetails h2 {

    float: right;
    padding: 5% 5% 25px 0;
    font-size: 40px;

}

#productDetails p {

    position: relative;
    float: right;
    width: 70%;
    text-align: justify;

}

#trailer {

    position: relative;
    margin: 0 0 0 75px;

}

#sidebar h2 {

	display: block;
	width: 100%;
	text-align: center;

}

#productDetails a, #productDetails a:hover, #productDetails a:visited {

    color: darkorange;

}

#price {

	width: 75%;
	text-align: center;

}


/*GAMES LIST PAGE CSS*/

#gameDisplay  table{

    margin: auto;
    padding: 50px 0 50px 0;

}

#gameDisplay table tr td {

    border: solid 2px darkorange;
    width: 25%;
    height: 20%;
    text-align: center;
    padding: 5px;

}

#gameDisplay table tr td img {

    width: 50%;

}

#gameDisplay table tr td form input {

    background-color: darkorange;
    width: 80%;
    border: solid 2px black;
    padding: 2px;
    font-weight: bold;

}


/*ADD TO CART BOX CSS*/

#addCart {

    height: 10%;
    margin: 45px 0 0 20%;
    width: 80%;


}

#addCart img {

    height:25px;
    width: 25px;
    margin: 5px 0 0 0;
    border: black solid 2px;

}

#minus, #amount,  #plus {

    display: inline-block;
    padding: 0;
    margin: 0

}

#plus {

    position: absolute;

}

#minus {

    position: relative;
    left: 0;

}

#amount {

    margin: 5px;
    width: 78px;
    text-align: center;
    height: 25px;
    border: solid black 2px;

}


#addButton {

    float: left;
    background-color: darkorange;
    height: 25px;
    border: black solid 2px;
    padding: 2px;
    width: 150px;
    text-align: center;
    font-weight: bold;

}

#hidden {

    display: none;

}

/*PRIVACY PAGE CSS*/

#privacy {

    padding: 5% 0 5% 0;

}

#privacy h1 , #privacy h3{

    color: darkorange;
    font-weight: bold;

}

#privacy ul{

    margin: 0 0 0 5%;

}

#privacy div {

    font-size: 10px;

}


/*CONTACT PAGE CSS*/


#left {

    width: 45%;
    float: left;
    padding: 100px 0 0 0;

}

#right {

    position: relative;
    width: 45%;
    float: right;
    padding: 60px 0 0 0;
    height: 100%;
    text-align: right;

}


#contact form {

    width: 100%;
    /* margin: 0 auto; */
    /* width: 400px; */
    padding: 16px;

}

#contact form div + div {

    margin-top: 16px;

}

#contact label {

    display: inline-block;
    width: 90px;
    text-align: right;

}

#contact input, #contact textarea {

    font: 1em sans-serif;
    width: 73.34963325183374%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;

}

#contact input:focus, #contact textarea:focus {

    border-color: #000;

}

#contact textarea {

    vertical-align: top;
    height: 200px;
    resize: vertical;

}

.button {

    padding-left: 21.95121951219512%;

}

#contact button {

    margin-left: 8px;

}

#right p {

    padding: 10px 0 15px 20px;
    font-size: 12px;
    font-weight: bold;

}

#right iframe {

    min-height: 450px;
    height: 50%;
    width: 100%;

}
